.box-header {
    /* background-color: red; */
    margin-bottom: 40px;
}

/* Section Parada */

#parada {
    /* background-color: red; */
    margin-bottom: 40px;
}

#parada .content-parada {
    width: 90%;
    /* background-color: chartreuse; */
    margin: 0 auto;
}

#parada .content-parada img {
    height: 470px;
    margin-left: 6px;
    margin-bottom: 6px;
    border-radius: 8px;
}

/* Media Queries */

@media (max-width: 730px) {
    #parada .content-parada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1028px) {
    #parada .content-parada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

